:root {
    --medium-dark-blue: #128277;
    --white-color : #fff;
    --header-height: 3rem;
	--footer-height: 3rem;
	--content-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: var(--header-height);
    background-color: var(--medium-dark-blue);
}

header > h1 {
	color: var(--white-color);
}

main {
	height: var(--content-height);
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-row: 1fr 1fr;
}

#side-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
	display: flex;
	flex-direction: column;
	gap: 1rem;
    background-color: #ddd;
    min-width: 250px;
}

#content {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.project-item {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#addProject {
	padding: 0.5rem;
	margin: 1rem;
	border-radius: 0.5rem;
}

hr {
	width: 70%;
}

.project-name {
	cursor: pointer;
}

#header {
	text-align: center;
}

#addTodo {
	display: block;
	margin: 0 auto;
}

.todo-item {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid black;
}

#todoContainer {
	width: 90%;
	margin: auto;
}

#form {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	gap: 1rem;
	width: 150px;
}

#form > label {
	text-align: center;
}

#form > input {
	width: 100%;
	
}

#btnContainer {
	display: flex;
	justify-content: space-between;
}

footer {
	height: var(--footer-height);
	background-color: var(--medium-dark-blue);
	display: flex;
	justify-content: center;
	align-items: center;
}

footer > h2 {
    color: var(--white-color);
}