:root {
  --medium-dark-blue: #128277;
  --white-color : #fff;
  --header-height: 3rem;
	--footer-height: 3rem;
	--content-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
	--light-blur-color: #1995ad;
	--green-color: #598234;
	--red-color: #d61800;
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

header {
	display: flex;
	align-items: center;
	padding: 1rem;
	height: var(--header-height);
	background-color: var(--medium-dark-blue);
}

header > h1 {
	color: var(--white-color);
}

main {
	height: var(--content-height);
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-row: 1fr 1fr;
}

#side-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
	display: flex;
	flex-direction: column;
	gap: 1rem;
    background-color: #ddd;
    min-width: 250px;
}

#content {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.project-item {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#addProject,
#addTodo {
	padding: 0.5rem;
	margin: 1rem;
	border-radius: 0.5rem;
	background-color: var(--light-blur-color);
	font-size: 1rem;
	color: var(--white-color);
	font-weight: 600;
}

hr {
	width: 70%;
}

#delete,
#cancel,
#create,
.delete-todo-btn {
	padding: 0.3rem;
	border-radius: 0.3rem;
	background-color: var(--red-color);
	font-weight: 600;
	color: var(--white-color);
}

#create {
	background-color: var(--green-color);
	
}

.project-name {
	cursor: pointer;
	font-weight: 600;
	font-size: 1.5rem;
}

#header {
	text-align: center;
}

#addTodo {
	display: block;
	margin: 0 auto;
}

.todo-item {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid black;
	margin-top: 0.5rem;
}

#todoContainer {
	width: 90%;
	margin: auto;
}

#form {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	gap: 1rem;
	width: 150px;
}

#form > label {
	text-align: center;
}

#form > input {
	width: 100%;
	
}

#btnContainer {
	display: flex;
	justify-content: space-between;
}

footer {
	height: var(--footer-height);
	background-color: var(--medium-dark-blue);
	display: flex;
	justify-content: center;
	align-items: center;
}

footer > h2 {
    color: var(--white-color);
}